.note {
  background-color: var(--color2-gray);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  flex-basis: 25%;
  margin-bottom: 8px;

  &__header {
    border-bottom: 1px solid #000;
    background-color: var(--color2-bright);
    display: flex;
    align-items: center;
    padding: 8px;

    h5 {
      font-size: 16px;
    }
  }

  &__body {
    padding: 8px;
    overflow-wrap: break-all;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.header__buttons {
  margin-left: auto;
}

.header__buttons button:not(:last-child) {
  margin-right: 5px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 4px;
  outline: none;

  &--delete {
    color: red;
  }

  &--edit {
    font-style: italic;
  }
}
