.form {
  flex: 1;
  display: flex;
  align-items: center;

  &__inputs {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    margin-right: 30px;
    margin-bottom: 60px;

    input[type='text'] {
      background-color: var(--color3);
      border: none;
      border-radius: 5px;
      padding: 0.75rem 1.5rem;
      margin-bottom: 8px;

      &::-webkit-input-placeholder {
        font-size: 1.35rem;
      }
    }

    textarea {
      background-color: var(--color3);
      border-radius: 5px;
      min-height: 80px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
      min-width: 200px;
      padding: 0.5rem 1.5rem;
      font-size: 1.5rem;
    }

    input[type='text'],
    textarea {
      outline: none;
    }
  }

  &__btn {
    align-self: flex-start;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--color3);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem 1rem;

    &:focus {
      outline: none;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color4);
  }
}
