:root {
  --color1: hsla(176, 100%, 37%, 1);
  --color2: hsla(184, 58%, 25%, 1);
  --color3: hsla(187, 97%, 29%, 1);
  --color4: hsla(63, 69%, 85%, 1);
  --color5: hsla(324, 54%, 52%, 1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color2);
  min-height: 100vh;
}
