:root {
  --color1: hsla(339, 100%, 86%, 1);
  --color2: hsla(343, 47%, 80%, 1);
  --color3: hsla(310, 34%, 86%, 1);
  --color4: hsla(233, 17%, 90%, 1);
  --color5: hsla(182, 94%, 93%, 1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color5);
  min-height: 100vh;
}
